$purple-0: #663f6e;
$purple-1: #7d5286;
$purple-2: #93679c;
$purple-3: #a87db1;
$purple-4: #bc95c4;
$purple-5: #bea3cd;
$purple-6: #c1b0d5;
$contentbgbasergb: rgb(255, 255, 255);
$contentbg: rgba($contentbgbasergb, 0.536);
$contentbg170: rgba($contentbgbasergb, 0.67);
// 色聞く
$txtboxOrange: #feee9ca5;
