.navbar {
  & .navbar-brand {
    background-color: #fff8;
    padding: 8px;
    border-radius: 3px;
  }
  & > div > div > .navbar-nav > li > a {
    & > img {
      height: 60px;
    }
    & > .material-symbols-outlined {
      font-size: 60px;
      line-height: 60px;
    }
  }
  background-color: #c799d4;
  max-height: 70px;
  z-index: 1020;
}
.offcanvas {
  background-color: $contentbg;
  backdrop-filter: blur(5px);

  &-backdrop {
    background-color: #ccc;
  }
  &-header {
    background-color: $purple-4;
  }
  &-title {
    font-family: "Mochiy Pop One", sans-serif;
  }
  &-body {
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      line-height: 40px;
      text-decoration: none;
      border: 2px $purple-0 solid;
      background-color: $purple-5;
      border-radius: 20px;
      padding: 8px;
      transition-property: background, border, transform, padding;
      transition-duration: 80ms;
      transition-timing-function: ease-in-out;
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
      &:hover {
        background-color: $purple-6;
        border-color: $purple-2;
        border-width: 3px;
        padding: 7px;
        transform: scale(1.02);
      }
      span,
      img {
        font-size: 40px;
        margin-right: 5px;
      }
    }
  }
}
